h1 {

width: 1176px;
height: 200px;

font-family: 'Work Sans';
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 84px;

color: #000000;
}

body {
  
width: 80%;
height: 386px;

font-family: 'Bitter';
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 43px;
min-height: 100vh; 
color: #000000;
}




